@import "tailwindcss";
@import "@nuxt/ui";

@utility text-stroke-* {
  -webkit-text-stroke-width: calc(--value(integer) * 1px);
  -webkit-text-stroke-color: --value(--color-*);
  -webkit-text-stroke-color: --value([*]);
}

@theme {
  --animate-wave: wave 2.5s infinite;
  --font-mono: 'Monaspace Neon', 'ui monaspace', monospace;
  --font-sofia: 'Sofia Sans', 'ui sans-serif', sans-serif;
  --font-sans: 'DM Sans', 'ui sans-serif', sans-serif;
  --font-geist: 'Geist', 'Inter', 'ui sans-serif', sans-serif;

  --color-artlab-primary: #f2a272;
  --color-artlab-primary-dark: #f5b89b;
  --color-artlab-bg: #ffffff;
  --color-artlab-bg-dark: #121212;
  --color-artlab-text: #393a34;
  --color-artlab-text-dark: #dbd7caee;

  @keyframes wave {
    0% {
      transform: rotate(0deg);
    }

    10% {
      transform: rotate(14deg);
    }

    20% {
      transform: rotate(-8deg);
    }

    30% {
      transform: rotate(14deg);
    }

    40% {
      transform: rotate(-4deg);
    }

    50% {
      transform: rotate(10deg);
    }

    60%,
    100% {
      transform: rotate(0deg);
    }
  }
}

:root {
  --ui-bg: #ffffff;
  --ui-text: #393a34;
  --ui-border: #f0f0f0;
  --ui-muted: #7c7f93;

  --ui-font-family: 'Geist', sans-serif;
  transition-duration: 0.7s;
}

.dark {
  --ui-bg: #121212;
  --ui-text: #dbd7caee;
  --ui-border: #191919;
  --ui-muted: #9399b2;

  --input-bg: #181818;
}

.sofia {
  --ui-font-family: 'Sofia Sans', sans-serif;
}
